<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org",lang="pl" >
<head>
    <title>Knight list</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
	 <link rel="stylesheet" type="text/css" th:href="@{/css/style2.css}"/>

</head>
<body>
<iframe height="0px" th:width="0px" src="https://www.youtube.com/embed/m9tdKwdxnj0?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    <div class="container">


        Posiadane złoto <span th:text="${playerinformation.gold}"/>
        <p th:text="${knight.name}"></p>
        <p th:text="${knight.age}"></p>
        <p th:text="${knight.level}"></p>
    </div>
</body>
</html>